body {
    font-family: 'Segoe UI', sans-serif;
    
}

span {
    font-style: italic;
}


.arena {
  position: relative;
  width: 800px;
  margin: 0 auto;
  min-height: 300px;
}

.activePlayer{
  background-color: gold;
}

.playerStats{
  width: 225px;
  position: absolute;
  top: 35px;
}
.playerStats.player1Stats {
  text-align:left;
  left: 0;
}
.playerStats.player2Stats {
  text-align: right;
  right: 0;
}
.playerStats .playerName{
  outline: 1px solid green;
  font-style: italic;
}
  .playerStats .playerHealth {
    outline: 1px solid red;
    height : 22px;
  }
    .playerStats .playerHealth .healthTick{
      display: inline-block;
      width: 5px;
      height: 20px;
      margin: 0;
      padding: 0;
      background-color: green;
      outline: 1px solid #FFF;
      box-shadow: 2px 2px 2px #CCC;
    }


.playerCharacter{
  position  : absolute;
  top       : 90px;
  width     : 275px;
  height    : 280px;
  outline   : 2px solid #333;
  box-shadow: 3px 3px 3px #CCC;
  background-size  : cover;
  background-repeat:no-repeat;
  }
.playerCharacter.player1Character{
  left: 0;
}
.playerCharacter.player2Character{
  right: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;
}

.playerReadout {
  position: absolute;
  top: 100%;
  background-color: #CCC;
}

  .playerReadout.player1Readout {
    left: 0;
  }

  .playerReadout.player2Readout {
    right: 0;
  }


.wordSelectModal{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  margin-left: -155px;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 3px 3px #333;
  background: #FFF;
}
  .wordSelectModal ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    font-size: 1.5em;
  }
    .wordSelectModal ul li{
      padding: 10px;
    }.wordSelectModal ul li:hover{
       background-color: #aebcff;
       cursor: pointer;
     }